{% extends "base.html" %} {% block title %}Share{% endblock %} {% block content
%}

<nav aria-label="post-pagination">
  <ul class="pagination justify-content-center mb-5">
    <li class="page-item active">
      <a class="page-link" href="{{ url_for('post_bp.share') }}">Share</a>
    </li>
    <li class="page-item">
      <a class="page-link" href="{{ url_for('post_bp.review') }}">Review</a>
    </li>
  </ul>
</nav>

<form class="p-4 border border-1 rounded-4 mb-5 needs-validation" novalidate method="POST">
  <h4 class="mb-3">Share an activity:</h4>

  <div class="input-group mb-3 mt-3 col d-flex justify-content-center align-items-center">
    <div class="form-check form-check-inline mx-5">
      <input type="radio" class="form-check-input" id="public_radio" name="visibility" value="Public" required />
      <label class="form-check-label" for="public_radio">Public</label>
    </div>
    <div class="form-check form-check-inline mx-5">
      <input type="radio" class="form-check-input" id="private_radio" name="visibility" value="Private" required />
      <label class="form-check-label" for="private_radio">Private</label>
    </div>
    <div class="form-check form-check-inline mx-5">
      <input type="checkbox" class="form-check-input" id="goal_radio" name="is_goal" value="True" />
      <label class="form-check-label" for="goal_radio">Goal</label>
    </div>
  </div>

  <label class="form-label" for="title">Title</label>
  <div class="input-group mb-3">
    <input name="title" id="title" class="form-control" placeholder="Enter name of activity" required />
  </div>

  <label for="datalistCategories" class="form-label">Category</label>
  <div class="rounded-4 input-group mb-3">
    <span class="input-group-text">Select Option</span>
    <input class="form-control" list="categoryOptions" id="datalistCategories" name="category"
      placeholder="Type to search..." />
    <datalist id="categoryOptions">
      {% for key, category in categories.items() %}
      <option value="{{ category }}"></option>
      {% endfor %}
    </datalist>
  </div>

  <label class="form-label" for="description">Description</label>
  <div class="input-group mb-3">
    <textarea name="description" id="description" class="form-control" placeholder="Enter description"></textarea>
  </div>

  <label for="image_filename" class="form-label">Insert image</label>
  <div class="rounded-4 input-group mb-3">
    <input class="form-control" type="file" id="image_filename" name="image_filename" />
    <button class="btn btn-outline-danger" type="button" id="delete-file-button">
      &times
    </button>
  </div>

  <label class="form-label">Geolocation</label>
  <div class="input-group mb-3">
    <button class="btn btn-outline-primary" type="button" id="positionBtn" onClick="getPosition()">
      Get Position
    </button>
    <input type="number" aria-label="Latitude" placeholder="Latitude" class="form-control" id="posLat" name="latitude"
      min="-90" max="90" step="any" />
    <input type="number" aria-label="Longitude" placeholder="Longitude" class="form-control" id="posLong"
      name="longitude" min="-180" max="180" step="any" />
  </div>

  <div align="center" class="mt-4">
    <button type="submit" class="btn btn-primary">Share it!</button>
  </div>
</form>

{% endblock %}