{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<br />
<form method="POST">
  <input
    name="follow_req_username"
    id="follow_req_username"
    class="form-control"
    placeholder="Enter username to follow"
  />
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Add Friend</button>
  </div>
</form>

<br /><br />

<ul class="list-group list-group-flush" id="notes">
  <h3>Following</h3>
  {% for followed in user.following %}
  <li class="list-group-item">
    {{ followed.username }}
    <button
      type="button"
      class="close"
      onClick="unfollowUser('{{followed.id }}')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </li>

  {% endfor %}
</ul>
{% endblock %}
