{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
%}

<br />
<form
  class="p-4 needs-validation border border-2 rounded-4 needs-validation"
  novalidate
  method="POST"
>
  <h3 class="mb-4">Login</h3>
  <div class="mb-3">
    <label class="form-label" for="username">Username</label>
    <input
      type="text"
      class="form-control"
      id="username"
      name="username"
      placeholder="Enter username"
      required
    />
  </div>
  <div class="mb-4">
    <label class="form-label" for="password">Password</label>
    <input
      type="password"
      class="form-control"
      id="password"
      name="password"
      placeholder="Enter password"
      required
    />
  </div>
  <div align="center">
    <button type="submit" class="btn btn-primary">Login</button>
  </div>
</form>
{% endblock %}
